 <section id="mainContent">
        <!-- start main content top -->
        <div class="content_top">
          <div class="row">
            <!--Latest slider component-->
             <!-- start content top latest slider -->
            <div class="col-lg-6 col-md-6 col-sm6">             
              <div class="latest_slider">
                 <!-- Set up your HTML -->
                <div class="slick_slider">
                  <div class="single_iteam">
                    <img src="https://i.guim.co.uk/img/media/fc277c9649c2669064c25594e9c1bf054e3023a7/0_3_620_372/master/620.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=948395154911388e00d9d7da365e0572" alt="img">
                    <h2><a class="slider_tittle" href="single.html">Premier League: 10 things to look out for this weekend</a></h2>
                  </div>
                  <div class="single_iteam">
                    <img src="https://i.guim.co.uk/img/media/706d732eaac525a7376bf49fbe6bc066eafc755a/0_52_3323_1995/master/3323.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=a164ae52f297d3661d508e929e3d662c" alt="img">
                    <h2><a class="slider_tittle" href="single.html">Football transfer rumours: Arsenal to sign José Giménez?</a></h2>
                  </div>
                  <div class="single_iteam">
                    <img src="https://i.guim.co.uk/img/media/d507a03099b05e0ffd12c38d2f58ece1a5c972f4/0_57_4894_2937/master/4894.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=012b7a739a65d91092157359788705e6" alt="img">
                     <h2>
                       <a class="slider_tittle" href="single.html">
                        Danny Drinkwater ready to follow Vardy and Mahrez by signing Leicester deal</a></h2>
                  </div>
                  <div class="single_iteam">
                    <img src="https://i.guim.co.uk/img/media/b21182b0c8433a0ab6c892de2a2fb6d2d8f3cadd/0_183_2791_1675/master/2791.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=7f05c4e4c964f7cc5ba02c44bee96f3c" alt="img">
                     <h2><a class="slider_tittle" href="single.html">Watford complete £10.4m deal for Juventus midfielder Roberto Pereyra</a></h2>
                  </div>
                </div>
              </div>
            </div> <!-- End content top latest slider -->
            <!--Feature slide-->
            <div class="col-lg-6 col-md-6 col-sm6">
              <div class="content_top_right">
                <ul class="featured_nav wow fadeInDown">
                  <li>
                    <img src="https://i.guim.co.uk/img/media/2fefe3bd73c77089374a59658b59b7fccfa0b250/0_211_3500_2100/master/3500.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=52e85bb79aeb2269e153ef174514e213" alt="img">
                    <div class="title_caption">
                      <a href="single.html">
                       Manchester United’s José Mourinho wants to buy Southampton’s José Fonte
                      </a>
                    </div>
                  </li>
                  <li>
                    <img src="https://i.guim.co.uk/img/media/976fcd95e033f6f8b13683fdc39c2c2f60a23c45/506_42_3218_1931/master/3218.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=7e1850f38535e13d3bba02d64d24aedb" alt="img">
                    <div class="title_caption">
                      <a href="single.html">
                        Arsenal prepare to face Jamie Vardy, the striker who turned them down
                      </a>
                    </div>
                  </li>
                   <li>
                    <img src="https://i.guim.co.uk/img/media/c69204700bfa3f771b05d947fc087bed707e8789/0_171_3500_2100/master/3500.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=f7579fabff5f7e33ebe029e8d516ecc6" alt="img">
                    <div class="title_caption">
                      <a href="single.html">
                        Crystal Palace sign Christian Benteke on four-year deal from Liverpool
                      </a>
                    </div>
                  </li>
                   <li>
                    <img src="https://i.guim.co.uk/img/media/6dfe5cf69a4a77e07ce3f4c82973104a69af80a9/0_0_5568_3342/master/5568.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=7bfa63e0fbb373dac5145bda8a7b8a7f" alt="img">
                    <div class="title_caption">
                      <a href="single.html">
                        Antonio Conte’s transfer frustrations grow as deadline looms for Chelsea
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- End main content top -->
        <!-- start main content Middle -->
        <div class="content_middle">
          <!-- End main content middle -->
          <!-- start main content bottom -->
          <div class="content_bottom">
            <div class="col-lg-8 col-md-8">
            <!-- start content bottom left -->
              <div class="content_bottom_left">
                <!-- start business category -->
                <div class="single_category wow fadeInDown">
                  <h2>                  
                    <span class="bold_line"><span></span></span>
                    <span class="solid_line"></span>
                    <a class="title_text" href="category-archive.html">Business</a>
                  </h2>
                  <div class="business_category_left wow fadeInDown">
                    <ul class="fashion_catgnav">
                      <li>
                        <div class="catgimg2_container">
                          <a href="single.html"><img alt="img" src="img/devhill/390x240x1.jpg"></a>
                        </div>
                        <h2 class="catg_titile"><a href="single.html">Aenean mollis metus sit amet ligula adipiscing</a></h2>
                        <div class="comments_box">
                          <span class="meta_date">14/12/2013</span>
                          <span class="meta_comment"><a href="#">No Comments</a></span>
                          <span class="meta_more"><a  href="#">Read More...</a></span>
                        </div>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla...</p>
                      </li>
                    </ul>
                  </div>  
                  <div class="business_category_right wow fadeInDown">
                    <ul class="small_catg">
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="single.html">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="single.html">Duis condimentum nunc pretium lobortis </a></h4> 
                            <div class="comments_box">
                              <span class="meta_date">14/12/2013</span>
                              <span class="meta_comment"><a href="#">No Comments</a></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <div class="comments_box">
                              <span class="meta_date">14/12/2013</span>
                              <span class="meta_comment"><a href="#">No Comments</a></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <div class="comments_box">
                              <span class="meta_date">14/12/2013</span>
                              <span class="meta_comment"><a href="#">No Comments</a></span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>   
                </div>
                <!-- End business category -->

                 <!--start games & fashion category -->
                <div class="games_fashion_area">
                <!-- start games category -->
                  <!--<div class="games_category">
                    <div class="single_category">
                      <h2>                  
                        <span class="bold_line"><span></span></span>
                        <span class="solid_line"></span>
                        <a class="title_text" href="category-archive.html">Games</a>
                      </h2>
                      <ul class="fashion_catgnav wow fadeInDown">
                        <li>
                          <div class="catgimg2_container">
                            <a href="single.html"><img alt="img" src="img/devhill/390x240x1.jpg"></a>
                          </div>
                          <h2 class="catg_titile"><a href="#">Aenean mollis metus sit amet ligula adipiscing</a></h2>
                          <div class="comments_box">
                            <span class="meta_date">14/12/2013</span>
                            <span class="meta_comment"><a href="#">No Comments</a></span>
                            <span class="meta_more"><a  href="#">Read More...</a></span>
                          </div>
                          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla...</p>
                        </li>
                      </ul>
                      <ul class="small_catg wow fadeInDown">
                        <li>
                          <div class="media">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>                  
                      </ul>
                    </div>
                  </div>-->
                  <!-- End games category -->
                  <!-- start fashion category -->
                   <!--<div class="fashion_category">
                    <div class="single_category">
                      <div class="single_category wow fadeInDown">
                        <h2>                  
                          <span class="bold_line"><span></span></span>
                          <span class="solid_line"></span>
                          <a class="title_text" href="category-archive.html">Fashion</a>
                        </h2>
                        <ul class="fashion_catgnav wow fadeInDown">
                          <li>
                            <div class="catgimg2_container">
                              <a href="#"><img alt="img" src="img/devhill/390x240x1.jpg"></a>
                            </div>
                            <h2 class="catg_titile"><a href="#">Aenean mollis metus sit amet ligula adipiscing</a></h2>
                            <div class="comments_box">
                              <span class="meta_date">14/12/2013</span>
                              <span class="meta_comment"><a href="#">No Comments</a></span>
                              <span class="meta_more"><a  href="#">Read More...</a></span>
                            </div>
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla...</p>
                          </li>
                        </ul>
                        <ul class="small_catg wow fadeInDown">
                          <li>
                            <div class="media wow fadeInDown">
                              <a class="media-left" href="#">
                                <img src="img/devhill/112x112.jpg" alt="img">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                                <div class="comments_box">
                                  <span class="meta_date">14/12/2013</span>
                                  <span class="meta_comment"><a href="#">No Comments</a></span>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="media wow fadeInDown">
                              <a class="media-left" href="#">
                                <img src="img/devhill/112x112.jpg" alt="img">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                                <div class="comments_box">
                                  <span class="meta_date">14/12/2013</span>
                                  <span class="meta_comment"><a href="#">No Comments</a></span>
                                </div>
                              </div>
                            </div>
                          </li>                  
                        </ul>
                      </div>
                    </div>
                  </div>-->
                  <!-- End fashion category -->
                </div> End games & fashion category  
                <!-- start technology category area -->
                <div class="technology_catrarea">
                  <div class="single_category">
                    <h2>                  
                      <span class="bold_line"><span></span></span>
                      <span class="solid_line"></span>
                      <a class="title_text" href="#">Technology</a>
                    </h2>
                    <div class="business_category_left">
                      <ul class="fashion_catgnav wow fadeInDown">
                        <li>
                          <div class="catgimg2_container">
                            <a href="#"><img alt="img" src="img/devhill/390x240x1.jpg"></a>
                          </div>
                          <h2 class="catg_titile"><a href="#">Aenean mollis metus sit amet ligula adipiscing</a></h2>
                          <div class="comments_box">
                            <span class="meta_date">14/12/2013</span>
                            <span class="meta_comment"><a href="#">No Comments</a></span>
                            <span class="meta_more"><a  href="#">Read More...</a></span>
                          </div>
                          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla...</p>
                        </li>
                      </ul>
                    </div>  
                    <div class="business_category_right">
                      <ul class="small_catg wow fadeInDown">
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>   
                  </div>
                </div><!-- End technology category area -->
                <div class="technology_catrarea">
                  <div class="single_category">
                    <h2>                  
                      <span class="bold_line"><span></span></span>
                      <span class="solid_line"></span>
                      <a class="title_text" href="#">Technology</a>
                    </h2>
                    <div class="business_category_left">
                      <ul class="fashion_catgnav wow fadeInDown">
                        <li>
                          <div class="catgimg2_container">
                            <a href="#"><img alt="img" src="img/devhill/390x240x1.jpg"></a>
                          </div>
                          <h2 class="catg_titile"><a href="#">Aenean mollis metus sit amet ligula adipiscing</a></h2>
                          <div class="comments_box">
                            <span class="meta_date">14/12/2013</span>
                            <span class="meta_comment"><a href="#">No Comments</a></span>
                            <span class="meta_more"><a  href="#">Read More...</a></span>
                          </div>
                          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla...</p>
                        </li>
                      </ul>
                    </div>  
                    <div class="business_category_right">
                      <ul class="small_catg wow fadeInDown">
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="media wow fadeInDown">
                            <a class="media-left" href="#">
                              <img src="img/devhill/112x112.jpg" alt="img">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                              <div class="comments_box">
                                <span class="meta_date">14/12/2013</span>
                                <span class="meta_comment"><a href="#">No Comments</a></span>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>   
                  </div>
                </div><!-- End technology category area -->
              </div><!--End content_bottom_left-->                 
            </div>
            <!-- start content bottom right -->
            <div class="col-lg-4 col-md-4">
              <div class="content_bottom_right">
                <!-- start single bottom rightbar -->
                <div class="single_bottom_rightbar">
                  <h2>Recent Post</h2>
                  <ul class="small_catg popular_catg wow fadeInDown">
                    <li>
                      <div class="media wow fadeInDown">
                        <a href="#" class="media-left">
                          <img alt="img" src="img/devhill/112x112.jpg">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media wow fadeInDown">
                        <a href="#" class="media-left">
                          <img alt="img" src="img/devhill/112x112.jpg">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                         <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media wow fadeInDown">
                        <a href="#" class="media-left">
                          <img alt="img" src="img/devhill/112x112.jpg">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                          <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div> <!-- End single bottom rightbar -->
                <!-- start single bottom rightbar -->
                <div class="single_bottom_rightbar">
                  <ul role="tablist" class="nav nav-tabs custom-tabs">
                    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Most Popular</a></li>
                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent">Recent Comment</a></li>
                  </ul>
                  <div class="tab-content">
                  <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                    <ul class="small_catg popular_catg wow fadeInDown">
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                           <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div id="recentComent" class="tab-pane fade" role="tabpanel">
                     <ul class="small_catg popular_catg">
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                           <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a class="media-left" href="#">
                            <img src="img/devhill/112x112.jpg" alt="img">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4> 
                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>                                   
                </div>
              </div> <!-- End single bottom rightbar -->
               <div class="single_bottom_rightbar">
                <h2>Blog Archive</h2>
                <div class="blog_archive wow fadeInDown">
                   <form>
                     <select>
                       <option value="">Blog Archive</option>
                       <option value="">October(20)</option>
                     </select>
                   </form>
                 </div>
              </div>
              <div class="single_bottom_rightbar wow fadeInDown">
                <h2>Popular Lnks</h2>
                <ul>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Blog Home</a></li>
                  <li><a href="#">Error Page</a></li>
                  <li><a href="#">Social link</a></li>
                  <li><a href="#">Login</a></li>                  
                </ul>
              </div>
            </div>
          </div>
          <!-- start content bottom right -->
        </div><!-- end main content bottom -->        
      </section><!-- End site main content -->